<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主页</title>
</head>

<body>



    <a href="/index.html">返回首页</a>
    <h1>社团</h1>

    <!-- <a href="/detail.html">商品详情</a> -->

    <div id="app">
        {{showFlag? '': ' '}}
        <a href="#" @click='toogleShow'>{{showType == 0 ? '添加':'全部'}}</a>
        <table border="1" v-if='showType == 0'>
            <thead>
                <td>编号</td>
                <td>avatar</td>
                <td>banner_list</td>
                <td>title</td>
                <td>info</td>
                <td>member_num</td>
                <td>操作</td>
            </thead>
            <tbody>
                <tr v-for='(item, index) in groupList'>
                    <td>{{item.id}}</td>
                    <td>
                        <img style="width: 100px;" :src="item.avatar" alt="">
                    </td>
                    <td>{{item.banner_list}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.info}}</td>
                    <td>{{item.member_num}}</td>
                    <td><button @click='editGroup(item)'>修改</button></td>
                </tr>
            </tbody>
        </table>

        <div v-if='showType == 1'>

            <!-- 我是添加和修改 Start -->
            <h3>编号</h3>
            <div>{{currentForm.id}}</div>
            <h3>头像</h3>
            <div style="display: flex;flex-direction:column;">
                <img width="100px;" :src="currentForm.avatar" alt="">
                <input type="file" @change='onAvatarChange'>
            </div>
            <h3>轮播图</h3>
            <div style="display: flex;flex-direction: row;">
                <div style="border: 1px solid #ccc;display: flex;flex-direction: column;"
                    v-for='(item, index) in currentForm.banner_list'>
                    <!-- <div><button>删除</button></div> -->
                    <img style="width: 200px;" :src="item" alt="">
                    <input style="max-width: 150px;" type="file" @change='onBannerChange($event, index)'>
                </div>
                <div>
                    <input type="file" @change='onBannerChange($event)'>
                </div>
            </div>
            <h3>标题</h3>
            <div><input type="text" v-model='currentForm.title'></div>
            <h3>详情</h3>
            <div><input type="text" v-model='currentForm.info'></div>
            <button @click='editSubmit'>提交</button>
            <!-- 我是添加和修改 End -->
        </div>
    </div>
</body>
<script src="/public/vue.js"></script>
<script src="/public/axios.js"></script>
<script>

    var app = new Vue({
        el: '#app',
        data: {
            showFlag: false,
            showType: 0,//0全部 1添加 2修改
            currentForm: {
                id: null,
                title: null,
                info: null,
                avatar: null,
                bannerList: [],
                memberNum: null
            },
            groupList: []
        },
        methods: {
            toogleShow() {
                this.showType = this.showType == 0 ? 1 : 0;
                if (this.showType == 1) {
                    this.addSubmit();
                }
            },
            addSubmit() {
                this.currentForm = {
                    id: null,
                    title: null,
                    info: null,
                    avatar: null,
                    banner_list: [],
                    memberNum: null
                }
                axios.post('/addGroup',
                    this.currentForm
                ).then(res => {
                    console.log(res)
                    if (!res.data.err) {
                        alert('添加社团成功，请填写社团信息');
                        this.currentForm.id = res.data.data.insertId
                    }
                })
            },
            editSubmit() {
                axios.post('/updateGroup',
                    this.currentForm
                ).then(res => {
                    console.log(res)
                    if (!res.data.err) {
                        alert('社团信息提交成功');
                        this.showType = 0
                        this.getGroupAll()
                    }
                })
            },
            onAvatarChange(e) {
                let avatar = (e.target.files[0])
                let form = new FormData()
                form.append('image', avatar);
                form.append('groupId', this.currentForm.id);
                axios.post('/updateGroupAvatar', form).then(res => {
                    console.log(res)
                    this.currentForm.avatar = res.data.data;
                })
            },
            onBannerChange(ev, index = -1) {
                let form = new FormData()
                let img = ev.target.files[0];
                form.append('image', img);
                form.append('index', index == -1 ? this.currentForm.banner_list.length : index)
                form.append('id', this.currentForm.id)
                axios.post('updateGroupBanner', form).then(res => {
                    console.log(res)
                    if (index == -1) {

                        this.currentForm.banner_list.push(res.data.data)
                        this.showFlag = !this.showFlag
                        return
                    }
                    this.currentForm.banner_list[index] = res.data.data;
                    this.showFlag = !this.showFlag
                })
            },
            getGroupAll() {
                axios.get('/getGroupAll').then(res => {
                    console.log(res)
                    this.groupList = res.data.data
                })
            },
            editGroup(item) {
                this.currentForm = item
                console.log(this.currentForm)
                this.showType = 1
            }
        },
        created() {
            this.getGroupAll()
        },
        computed: {
            banner_list() {
                return this.currentForm.banner_list
            }
        },
        watch: {
            currentForm: {
                handler: (val, lodVal) => {
                    console.log('deepwatch')
                },
                deep: true
            }
        },
    })





</script>

</html>